.icon {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 64px; /* Or size of icon + spacing */
    background-size: auto 64px;
    height: 64px;
    display: inline-block;
    padding-top: 13px;
}

.excel {
    background-image: url(../../images/Excel_64x64.svg);
}

.powerpoint {
    background-image: url(../../images/Powerpoint_64x64.svg);
}

.word {
    background-image: url(../../images/Word_64x64.svg);
}

.photo-editing {
    background-image: url(../../images/photoshop.png);
}

.cpr {
    background-image: url(../../images/cpr.png);
}

.detail {
    background-image: url(../../images/Detail.png);
}

.video-editing {
    background-image: url(../../images/premiere.jpg);
}

.lifegaurd {
    background-image: url(../../images/lifeguard.png);
}

.analytics{
    background-image: url(../../images/analytics.png);
}

.learning{
    background-image: url(../../images/learning.png);
}

.leadership{
    background-image: url(../../images/manager.png);
}

.multitask{
    background-image: url(../../images/multitask.png);
}

.solving{
    background-image: url(../../images/solving.png);
}

.content{
    background-image: url(../../images/content.png);
}

.cut{
    background-image: url(../../images/cut.png);
}

.pedit{
    background-image: url(../../images/pedit.png);
}

.development{
    background-image: url(../../images/developmentpng.png);
}

.marketing{
    background-image: url(../../images/marketing.png);
}

.media{
    background-image: url(../../images/social.png);
}