.icon {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 64px; /* Or size of icon + spacing */
    background-size: 64px 64px;
    height: 64px;
    display: inline-block;
    padding-top: 13px;
}

.excel {
    background-image: url(../../images/office/Excel_64x64.svg);
}

.powerpoint {
    background-image: url(../../images/office/Powerpoint_64x64.svg);
}

.word {
    background-image: url(../../images/office/Word_64x64.svg);
}

